# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
my_env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# IDE/editor settings
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env
# wandb run data (if you want to exclude those auto-logs)
wandb/